<div class="banner" style="background-image: url('<%= image_path "banner.png" %>')">
  <div class="container">
    <h1>Project dress hires out timeless dresses to <strong>brides on a budget</strong></h1>
    <p>Discover designer dresses in every size and style or give your dress a second chance to shine!</p>
    <%= link_to "Browse now", offers_path, class: "btn btn-outline-light" %>
  </div>
</div>
