<div class="banner" style="background-image: url('<%= image_path "banner.png" %>')">
  <div class="container">
    <h1>Project dress gives you the dress you've <strong>always dreamt about</strong> to <strong>brides on a budget</strong></h1>
    <p>Discover designer dresses in every size and style</p>
    <a class="btn btn-flat" href="#">Browse now</a>
  </div>
</div>
