<div class="p-5">
  <h1>All dresses</h1>

  <div class="cards d-flex justify-content-around p-2">
    <% @offers.each do |offer| %>
      <div class="card-trip">
      <% if offer.photos.attached? %>
        <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        <div class="card-trip-infos p-3">
          <div>
            <h2><%= link_to offer.title, offer_path(offer) %></h2>
            <p><%=offer.description%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="p-3">
    <%= link_to "Upload your dress for hire", new_offer_path, class: "btn btn-outline-dark" %>
  </div>
</div>
