<div class = "container">
  <div class="p-2">
    <h1 class="p-1">All dresses</h1>
<div class="p-1">
  <%= link_to "Upload your dress for hire", new_offer_path, class: "btn btn-outline-dark" %>
</div>

    <div class="cards">
      <% @offers.each do |offer| %>
        <div class="card">
          <% if offer.photos.attached? %>
            <%= cl_image_tag offer.photos.first.key, height: 300, width: 400%>
          <% end %>
          <div class="card-infos">
            <div>
              <h2><%= link_to offer.title, offer_path(offer) %></h2>
              <p><%=offer.description%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
