<div class="p-5">
  <h1>All dresses</h1>

  <div class="cards d-flex justify-content-around p-2">
    <% @offers.each do |offer| %>
      <%# cards %>
      <div class="card-trip", style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path("ndahf35caspnqmdurnax", width: 400, height: 300, crop: :fill) %>')">
        <div class="card-trip-infos p-3">
          <div>
            <h2><%= link_to offer.title, offer_path(offer) %></h2>
            <p><%=offer.description%></p>
          </div>
        </div>
      </div>
      <%# cards end%>
    <% end %>
  </div>
  <div class="p-3">
    <%= link_to "Offer a new dress", new_offer_path, class: "btn btn-gradient" %>
  </div>
</div>
