.navbar-lewagon {
  justify-content: space-between;
  background: #FFE1E1;
  font-family: "Crimson Text", serif;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  background-color: #ffecef;
}

a.nav-link {
  font-size: 18px;
}
