.navbar-lewagon {
  justify-content: space-between;
  background: #FFE1E1;
  font-family: "Crimson Text", serif;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
  background-color: #ffecef;
}

.logo {
  width: 70px;
  height: 70px;
  }

